div.button {
    button {
        padding: 15px;
        width: 80%;
        background-color: #29457e;
        color: #ffffff;
        border-radius: 10px;
        border: none;
        font-weight: bold;
        margin: 15px;
        cursor: pointer;
        
        &:hover {
            background-color: #0f2653;
            transition: 1s;
        }
    }

    button.grey {
        background-color: #acacaa;
    }
}