div {
    text-align: center;
    button {
        padding: 15px;
        width: 80%;
        background-color: #1f3560;
        color: #ffffff;
        border-radius: 20px;
        border: none;
        font-weight: bold;
        margin: 15px;
        cursor: pointer;
        
        &:hover {
            background-color: #29457e;
            transition: 1s;
        }
    }
}