div.container-menu {
    background-color: #29457e;
    z-index: 9999;
    position:fixed;
    bottom:0;
	left:0;
    right:0;
    height:50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    div.child {
        img.menu {
            margin: 0;
            padding: 0;
            width: 25px;
            height: 25px;
        }

        a {
            text-decoration: none;
        }
    }
}
