h1.title {
    color: #29457e;    
}

.md {
    font-size: 20px !important;
}

.sm {
    font-size: 10px !important;
}

.p-lg {
    padding: 30px;
}

.p-sm {
    padding: 10px;
}

.p-md {
    padding: 20px;
}

.pt-md {
    padding-top: 20px;
} 

.pl-md {
    padding-left: 20px;
}

.pb-sm {
    padding-bottom: 10px;
}