div {
    justify-self: center;
    img.logo {
        margin-top: 100px;
        width: 100px;
        height: 100px;
    }
    
    h1.white {
        color: #fff;
        font-weight: bolder;
    }

    h1.blue {
        color: #1f3560;
    }
}   

