#background {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(160deg, #0c1527, 	#1f3560, #32559a, 	#5279c7, #7897d3);
    display: grid;
    justify-content: stretch;

    div.container {
        justify-self: stretch;
    }
}