div {
    label {
        display: block;
        margin-left: 10%;
        padding: 0;
        text-align: start;
        color: #32559a;
    }   
}

.MuiStepIcon-active {
    color: #1f3560 !important;
}

.MuiStepIcon-completed {
    color: #1f3560 !important;
}