div {
    label {
        display: block;
        margin-left: 10%;
        padding: 0;
        text-align: start;
        color: #29457e;
    }   
}

.MuiStepIcon-active {
    color: #29457e !important;
}

.MuiStepIcon-completed {
    color: #29457e !important;
}

.MuiPaper-elevation5 {
    box-shadow: none;    
}

.MuiPaper-root {
    background-color: #dfdede !important;
}