* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #dfdede;    
    font-family: "Lucida Console", Courier, monospace;
    text-align: center;
}



::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}